# ===============================
# Xcode
# ===============================
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xcuserdatad/
**/xcshareddata/

# ===============================
# Build
# ===============================
build/
*.ipa
*.dSYM
*.dSYM.zip

# ===============================
# Swift Package Manager
# ===============================
.build/
Packages/
Package.resolved

# ===============================
# CocoaPods
# ===============================
Pods/

# ===============================
# Carthage
# ===============================
Carthage/Build/

# ===============================
# Fastlane
# ===============================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# ===============================
# Config & Secrets
# ===============================
*.xcconfig
*.xcconfig.sample

# ===============================
# Config & Secrets
# ===============================
*.xcconfig
*.xcconfig.sample
Secrets.plist
GoogleService-Info.plist

# ===============================
# Logs
# ===============================
*.log

# ===============================
# macOS
# ===============================
.DS_Store
.AppleDouble
.LSOverride

# ===============================
# Temporary files
# ===============================
*.swp
*.tmp
*.temp
